
<div class="dropdown">

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="" href="#">Действие</a></li>
        <li><a  href="#">Другое действие</a></li>
        <li><a class="" href="#">Что-то еще здесь</a></li>
    </ul>
  </div>
  
    <header>
    


  <div class=" container-fluid px-3 d-flex flex-wrap align-items-center justify-content-center justify-content-md-start">
    <a href="#" class="logo col-12 col-md-auto text-center me-0 me-md-3 text-decoration-none link-dark ">Logo</a>
   
       <ul
      class="menu-header d-flex col-12 col-md-auto mb-2 mb-md-0 justify-content-center me-md-auto align-items-center">
      <li class="">
          <a class="header-link py-0 px-2 link-dark  " [routerLink]="''" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a>
      </li>
      <li class="">
          <a class="header-link  py-0 px-2 link-dark"  [routerLink]="'products/catalog'"  routerLinkActive="active">Каталог</a>
      </li>
  </ul>

        <form action="" class=" col-12 col-md-auto me-2">
            <input type="search" class="form-control  py-2 pe-0 ps-3 mb-3 mb-md-0" placeholder="Поиск чая">
        </form>
        <button type="button" class="btn btn-outline-primary py-2 px-4">Найти</button>
    </div>

  

  
    </header>