<div class="own-product">

    <section class="products ">
        <div class="container">
            <div class="row ">
                <div class="col wow animate__headShake ">
                    <div class="card shadow-sm product-card">
                        <a class="product-img" >
                        <img class="img_card" src={{product.image}} alt="01" >
                        </a>
                       
                            <div class="card-title text-center">{{product.title}}</div>
                            <div class="card-text mb-4 card-descript  text-center">{{product.description}}</div>
                            <a class="btn text-white py-2 hvr-float-shadow btn-product" [routerLink]="['/order',product.title]" >Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
