
<section class="order m-auto wow animate__fadeInUpBig">
    <div class="order-closes container" *ngIf="!orderTrue">
        <h2 class="text-center m-0">Сделать заказ</h2>
        <form action="" class="row gy-3" id="myForm" [formGroup]="this.checkoutForm" 
        (ngSubmit)="sendData()">
            <div class="col-sm-4">
              <div class="col-sm-12">
                <label for="inputProduct" class="form-label">Название товара</label>
                <input type="text"
                class="form-control" id="inputProduct" [value]="title" disabled>
              </div>
                <label for="inputName" class="form-label">Имя</label>
                <input
          
                formControlName="name"
                type="text" class="form-control" id="inputName" >
                <div *ngIf="checkoutForm.get('name')?.invalid &&
                (checkoutForm.get('name')?.touched||checkoutForm.get('name')?.dirty)" >
                      <div class="error"  *ngIf="checkoutForm.get('name')?.errors?.['required']" >
                       Заполните имя
                      </div>
                      <div class="error"   *ngIf="checkoutForm.get('name')?.errors?.['pattern']" >
                        Содержит только русские и анг буквы
                      </div>
                </div>
              </div>
              <div class="col-sm-4">
                <label for="inputFam" class="form-label">Фамилия</label>
                <input
               
                formControlName="last_name"
                 type="text" class="form-control" id="inputFam" >
                 <div *ngIf="checkoutForm.get('last_name')?.invalid &&
                 (checkoutForm.get('last_name')?.touched||checkoutForm.get('last_name')?.dirty)" >
                       <div class="error"   *ngIf="checkoutForm.get('last_name')?.errors?.['required']"  >
                        Заполните фамилию
                       </div>
                       <div class="error"  *ngIf="checkoutForm.get('last_name')?.errors?.['pattern']"  >
                         Содержит только русские и анг буквы
                       </div>
                 </div>
              </div>
              <div class="col-sm-4">
                <label for="inputPhone" class="form-label">Телефон</label>
                <input
               
                formControlName="phone"
                 type="text" class="form-control" id="inputPhone">
                 <div *ngIf="checkoutForm.get('phone')?.invalid &&
                 (checkoutForm.get('phone')?.touched||checkoutForm.get('phone')?.dirty)" >
                       <div class="error" *ngIf="checkoutForm.get('phone')?.errors?.['required']" >
                        Заполните тел
                       </div>
                       <div class="error"  *ngIf="checkoutForm.get('phone')?.errors?.['pattern']" >
                        Номер должен содержать 11 цифр
                       </div>
                 </div>
              </div>
              <div class="col-sm-6">
                <label for="inputCountry" class="form-label">Страна</label>
                <input
                formControlName="country"
                type="text" class="form-control" id="inputCountry">
                <div *ngIf="checkoutForm.get('country')?.invalid &&
                (checkoutForm.get('country')?.touched||checkoutForm.get('country')?.dirty) &&
                checkoutForm.get('country')?.errors?.['required']" class="error">
                       Заполните страну
                </div>
              </div>
              <div class="col-sm-6">
                <label for="inputIndex" class="form-label">Индекс</label>
                <input
                formControlName="zip"
                
                type="text" class="form-control" id="inputIndex">
                <div *ngIf="checkoutForm.get('zip')?.invalid &&
                (checkoutForm.get('zip')?.touched||checkoutForm.get('zip')?.dirty)" >
                      <div class="error" *ngIf="checkoutForm.get('zip')?.errors?.['required']">
                        Заполните индекс
                      </div> 
                </div>
              </div>
              <div class="col-sm-12">
                <label for="inputAddress" class="form-label">Адрес</label>
                <input
               
                formControlName="address"
                type="text" class="form-control" id="inputAddress">
                <div *ngIf="checkoutForm.get('address')?.invalid &&
                (checkoutForm.get('address')?.touched||checkoutForm.get('address')?.dirty)" >
                      <div class="error"  *ngIf="checkoutForm.get('address')?.errors?.['required']" >
                       Заполните адрес
                      </div>
                      <div class="error"  *ngIf="checkoutForm.get('address')?.errors?.['pattern']" >
                        В поле «Адрес» можно вводить: буквы, цифры, пробелы, дефис и слеш, все остальное запрещено
                      </div>
                </div>
              </div>
              <div class="col-sm-12">
                <label for="inputComment" class="form-label">Комментарий к заказу</label>
                <input
                formControlName="comment"
                type="text" class="form-control" id="inputComment">
              </div>
              <div class="col-12 mt-4">
                <button class="btn btn-primary hvr-float-shadow"   [disabled]="checkoutForm.invalid || checkoutForm.disabled">Отправить</button>
              </div>
              <div *ngIf="orderFalse" class="error"  >Произошла ошибка. Попробуйте еще раз</div>
        </form>
    </div>
    <div class="order-open container" *ngIf="orderTrue">
        <p class="m-0 text-center">Спасибо за заказ!</p>
    </div>
</section>